<div class="card card-warning animate__animated animate__fadeIn animate__slow shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <a href="/student" class="nav-link card card-statistic-2 shadow">
                    <div class="card-icon bg-success">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <b>Mahasiswa</b>
                        </div>
                        <div class="card-body">
                            <%- students %>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <a href="/patient" class="nav-link card card-statistic-2 shadow">
                    <div class="card-icon bg-warning">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <b>Pasien</b>
                        </div>
                        <div class="card-body">
                            <%- patients %>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary animate__animated animate__fadeIn animate__slow shadow-lg">
    <div class="card-header">
        Whatsapp Admin
    </div>
    <div class="card-body">
        <div id="me">
            <h5>Sesi Aktif :</h5>
            <h6>Nama Akun</h6>
            <div id="pushname"></div>
            <h6>Nomor</h6>
            <div id="user"></div>
            <hr>
            <p class="text-small">Pastikan nomor di atas telah logout di perangkat tertaut sebelem melakukan scan ulang QRCode!</p>
            <button class="btn btn-primary" id="bt-qr">TAMPILKAN QRCODE</button>
        </div>
        <div id="qr">
            <h5>Scan QRCode Di bawah untuk login.</h5>
            <img src="" alt="loading..." id="qrcode">
            <p class="text-small">Jika sudah melakukan scan di ponsel, tunggu sampai QR code Hilang!</p>
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>